---
import BrandingName from "~/components/branding/name";
import MainLayout from "~/layouts/MainLayout.astro";
---

<MainLayout>
	<div class="fixed w-full min-h-svh flex items-center justify-center">
		<h1 class="text-red-700 text-4xl font-extrabold">
			<BrandingName />
		</h1>
	</div>
</MainLayout>
